.bg-black {
  background-color: black !important;
}
.bg-green {
  background-color: rgb(0, 255, 0) !important
}

.text-green {
  color: rgb(0, 255, 0) !important;
}

.text-black {
  color: black !important;
}

.no-link-hover:hover {
  text-decoration: none;
}


/* Card CSS Overrides */
.card-body {
  font-family: 'roboto';
  color: white;
}